services:
  database:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user_secret
      POSTGRES_PASSWORD: password_secret
      POSTGRES_DB: database_secret
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
